html {
    font-size: 10px;
}

.photo-grid {
    max-width: 1000px;
    display: flex;
    /* margin: vertical horizontal*/
    margin: 0 auto;
    flex-wrap: wrap;
}

.figure {
    border: 1px solid lightgray;
    flex-basis: calc(33%);
    flex-grow: 1;
    align-self: center;
}

.photo {
    width: 100%;
    height: auto;
}

.img-desc {
    padding: 1rem;
}

p {
    font-size: 2rem;
}

.btn {
    display: flex;
    justify-content: space-around;
}

button {
    line-height: 2;
    flex-basis: 50%;
    color: red;
    font-size: 15px;
    border: 2px solid lightcoral;
    border-radius: 8px;
    padding: 5px;
}

.form {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
}

.form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    padding: 16px;
    margin: 0 0 1rem 0;
    font-family: sans-serif;
}

.form button {
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #065784;
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: green;
}

.chg-btn {
    margin: 0 auto;
    display: block;
    max-width: 60px;
    max-height: 60px;
}

.single-photo {
    width: 600px;
    height: auto;
    margin: 0 auto;
    display: flex;
    border: 3px solid #f2f2f2;
    padding: 2rem;
}

.comment-form form input {
    display: block;
    border: none;
    box-sizing: content-box;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    text-decoration: none;
    color: black;
}

.heading {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Shadows Into Light', cursive;
}

.cmt-count{
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    color: red;
    margin-left: 4px;
}

.link-cmt {
    display: flex;
    text-decoration: none;
    padding: 7px;
}

.cmt-img {
    max-height: 20px;
    max-width: 20px;
    padding-top: 4px;
}
